* {
  margin: 0;
  padding: 0;
  text-decoration: none;
 
}

body {

 background: rgb(190, 225, 255);
    background: linear-gradient(90deg, rgba(90, 225, 255, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

header h1 {

  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}

.cartoes{
  margin-bottom: 8rem;
  margin-top: 4rem;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  display: flex;
  column-gap: 15px;
  row-gap: 30px;
}

.cartao__principal {
  
  text-align: center;
  background-color: beige;
  width: 55rem;
  height: 31rem;
  border-radius: 15px;
  padding: 15px;
  margin: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  
  


}


.sobreMim{

  background-color: bisque;
  border-radius: 10px;
  padding: 100px;
  margin: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  cursor: pointer;
  
}

.meusProjetos{
  color: rgb(0, 0, 0);
  align-self: flex-start;     
  
  
}

.cartoes__projeto{
 background-color: azure ;
  border-radius: 10px;  
  width: 10rem;
  padding: 10px;
  margin: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
  cursor: pointer;
 
}


.cartoes__projeto2{
  background-color: azure ;
   border-radius: 10px;  
   width: 10rem;
   padding: 10px;
   margin: 15px;
   color: rgb(0, 0, 0);
   font-weight: bold;
   box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
   -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
   -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.72);
   cursor: pointer;
  
 }



img{
  width: 16px;
}





